In [ ]:
import pandas as pd
data = pd.read_csv('data.csv')

# Общая информация

С помощью метода .describe() получаем основную статистическую информацию о наборе данных. На этом этапе уже можно сказать, что самому молодому пассажиру на Титанике было 0.42 года, а самому пожилому – 80 лет.
Средняя выживаемость пассажиров составляет 38%.

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Сравнение количества выживших по полу

In [ ]:
data.query('Survived == 1').groupby(['Sex']).agg({'PassengerId': 'count'})

        PassengerId
Sex
female          233
male            109

Видно, что количество выживших женщин более чем в два раза превышает количество выживших мужчин, и это подтверждается историческими фактами – у женщин был приоритет при посадке в спасательные шлюпки.

# Общее количество пассажиров по классам

In [ ]:
data.groupby(['Pclass']).agg({'PassengerId': 'count'})

        PassengerId
Pclass
1               216
2               184
3               491

Пассажиров 3 класса на корабле было более, чем в 2.5 раза больше, чем пассажиров 1 или 2 класса, что объясняется доступностью билетов 3 класса и большим количеством небогатых мигрантов, стремившихся попасть в США в начале XX века.

# Статистика выживших пассажиров по классу

In [ ]:
data.query('Survived == 1').groupby(['Pclass']).agg({'PassengerId': 'count'})

        PassengerId
Pclass
1               136
2                87
3               119

Результаты по классам также совпадают с историческими фактами: наибольшее количество выживших – это пассажиры 1 класса, что было связано с расположением их кают на верхних ярусах корабля, возможностью беспрепятственного прохода к шлюпкам, а также поначалу приоритетной посадкой пасажиров 1 класса. Достаточно большое количество выживших пассажиров 3 класса объясняется подавляющим большинством пассажиров этого класса на корабле.

# Статистика выживших пассажиров по полу и классу

In [ ]:
data.query('Survived == 1').groupby(['Pclass', 'Sex']).agg({'PassengerId': 'count'})

               PassengerId
Pclass Sex
1      female           91
       male             45
2      female           70
       male             17
3      female           72
       male             47

Наибольшая разница между количеством выживших женщин и мужчин наблюдается среди пассажиров 2 класса. Самая многочисленная категория выживших – женщины из числа пассажиров 1 класса.

# Количество пассажиров по портам посадки

In [ ]:
data.groupby('Embarked').agg({'PassengerId': 'count'})

          PassengerId
Embarked
C                 168
Q                  77
S                 644

Наибольшее количество пассажиров отбыло из Саутгемптона.

# Статистика выживших пассажиров в зависимости от порта посадки

In [ ]:
data.query('Survived == 1').groupby('Embarked').agg({'PassengerId': 'count'})

          PassengerId
Embarked
C                  93
Q                  30
S                 217

Среди выживших пассажиров наибольшее количество также из Саутгемптона.